[Unit]
AssertPathExists=path_to_the_bot
AssertPathIsDirectory=path_to_the_bot
AssertDirectoryNotEmpty=path_to_the_bot
AssertPathExists=path_to_the_bot/main.py
AssertFileNotEmpty=path_to_the_bot/main.py
After=network.target
Description=Service that run the script that manage the PesceMuccaBot

[Service]
ExecStart=source venv/bin/activate; python3 main.py; deactivate
Restart=on-failure
RestartSec=5s
Type=simple
User=my_user
WorkingDirectory=path_to_the_bot

[Install]
Alias=pescemuccabot.service
WantedBy=multi-user.target

